VITE_SUPABASE_URL=https://mztayrhfgtsfjqighlue.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im16dGF5cmhmZ3RzZmpxaWdobHVlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3NTcwNzMsImV4cCI6MjEwMzMzMzA3M30.sUiR3sNRFH0TNdZKR5Xb1nlQQMHM80RdWP8AZ_Aeio0
